table.key-value-table {
  td a {
    color: @icinga-blue;
  }

  th {
    text-align: left;
    vertical-align: top;
  }
}

table.table-x-rows-collapsible {
  .collapse-handle {
    cursor: pointer;
  }

  .collapsible {
    display: none;
  }
}

table.traps {
  tr td:first-child {
    padding-left: 2em;
      &::before {
        font-family: 'ifont';
        // icon-help:
        content: '\e85b';
        float: left;
        font-weight: bold;
        margin-left: -1.5em;
        line-height: 1.5em;
    }
  }

  tr.acknowledged td:first-child::before {
    content: '\e803';
    color: @color-ok;
  }
}

span.critical {
  color: @color-critical;
}

span.ok {
  color: @color-ok;
}

.controls span.action-links {
  display: block;
  margin-bottom: 0.5em;
  a {
    color: @icinga-blue;
    margin-right: 1em;
  }
}
